@model IEnumerable<Entities.Concrete.CPU>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1>Cpus</h1>
    <div class="row row-cols-auto">
        
        @foreach (var cpu in Model)
        {
            <div class="col my-3 mx-2">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/200x250.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@cpu.Brand @cpu.ModelName</h5>
                        <p class="card-text">@cpu.Price</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
