@model GpuModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-4">Create GPU</h1>
<div class="container">
    <div class="row justify-content-center">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="mb-3 row">
                <label asp-for="Gpu.Brand" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.Brand" class="form-control" />
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Gpu.ModelName" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.ModelName" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.GraphicEngine" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.GraphicEngine" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.VramSize" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.VramSize" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.VramType" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.VramType" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.BaseClockSpeed" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.BaseClockSpeed" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.BoostClockSpeed" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.BoostClockSpeed" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.MemoryBusWidth" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.MemoryBusWidth" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.Tdp" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.Tdp" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.PowerConnectors" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.PowerConnectors" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.Interface" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.Interface" class="form-control" />
                </div>
            </div>


            <div class="mb-3 row">
                <label asp-for="Gpu.DisplayPorts" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.DisplayPorts" class="form-control" />
                </div>
            </div>



            <div class="mb-3 row">
                <label asp-for="Gpu.LaunchDate" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.LaunchDate" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Images" class="col-3 form-label"></label>
                <div class="col-9">
                    <input class="form-control" type="file" name="Images" id="Images" multiple />
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Gpu.Price" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="Gpu.Price" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

