@model CpuModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center mb-4">Create CPU</h2>
<div class="container">
    <div class="row justify-content-center">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 row">
                <label asp-for="Cpu.Brand" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.Brand" class="form-control" />
                    <span asp-validation-for="Cpu.Brand" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.ModelName" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.ModelName" class="form-control" />
                    <span asp-validation-for="Cpu.ModelName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.CoreCount" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.CoreCount" class="form-control" />
                    <span asp-validation-for="Cpu.CoreCount" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.ThreadCount" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.ThreadCount" class="form-control" />
                    <span asp-validation-for="Cpu.ThreadCount" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.BaseClockSpeed" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.BaseClockSpeed" class="form-control" />
                    <span asp-validation-for="Cpu.BaseClockSpeed" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.MaxTurboFrequency" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.MaxTurboFrequency" class="form-control" />
                    <span asp-validation-for="Cpu.MaxTurboFrequency" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.CacheSize" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.CacheSize" class="form-control" />
                    <span asp-validation-for="Cpu.CacheSize" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.SocketType" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.SocketType" class="form-control" />
                    <span asp-validation-for="Cpu.SocketType" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.IntegratedGraphics" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.IntegratedGraphics" class="form-control" />
                    <span asp-validation-for="Cpu.IntegratedGraphics" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.MemorySupport" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.MemorySupport" class="form-control" />
                    <span asp-validation-for="Cpu.MemorySupport" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.Tdp" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.Tdp" class="form-control" />
                    <span asp-validation-for="Cpu.Tdp" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.LaunchDate" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.LaunchDate" class="form-control" />
                    <span asp-validation-for="Cpu.LaunchDate" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Images" class="col-3 form-label"></label>
                <div class="col-9">
                    <input class="form-control" type="file" name="Images" id="Images" multiple/>
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Cpu.Price" class="col-3 form-label"></label>
                <div class="col-9">
                    <input asp-for="Cpu.Price" class="form-control" />
                    <span asp-validation-for="Cpu.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

